body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s; /* Add smooth transition for background color change */
}

.button-1,
.button-2 {
    margin: 15px;
    border: 0;
    line-height: 2.5;
    padding: 0 40px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition for button color change */
}
p {
    margin: 15px;
    font-weight: bold;
}

img {
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 15px;
    transition: background-color 0.3s, color 0.3s;
}
/* Add styles for the dark theme */
.dark-theme {
    background-color: #433f3f;
}

.dark-theme .button-1,
.dark-theme .button-2 {
    background-color: #fff;
    color: #000;
}

.dark-theme p {
    color: #fff; /* Change text color to white on dark theme */
}

/* Add styles for the light theme */
.light-theme {
    background-color: #fff;
}

.light-theme .button-1,
.light-theme .button-2 {
    background-color: rgba(220, 0, 0, 1);
    color: #fff;
}
